# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:APIARIST_ARMOR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:PSIMETAL=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_GOGGLES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_OVERALLS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:RAILCRAFT_STEEL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:TURTLE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1000]
    I:avaritia_infinity=1000

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 2]
    I:crystal=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emerald=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:glowing=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 50]
    I:pureMatter=50
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DUMMY=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_HOE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_PICKAXE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_SHOVEL=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_SWORD=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:NETHERITE=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:PSIMETAL=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:RAILCRAFT_STEEL=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:crystal=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:nether=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:power=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:sandstone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssAbyssalnite=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssBronze=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:ssConstantan=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssCopper=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssCoralium=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssDarkstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssDreadium=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssElectrum=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssElementium=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssEnderium=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssEthaxium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssInvar=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssLead=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssLumium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssManasteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssNickel=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssObsidian=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssPlatinum=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSignalum=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSilver=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSoulforgedSteel=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSteel=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:ssTerrasteel=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssThaumium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssTin=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssVoidmetal=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25
}


